project:
  type: book
  preview:
    port: 4200
    browser: false

book:
  title: "AP Statistics Notes"
  author: "Chang"
  favicon: "favicon.png"
  url: https://stats.echa.ng
  description: |
     These are notes for AP Statistics.

  chapters:
    - index.qmd
    - notation.qmd
    - part: "Descriptive Statistics"
      chapters:
      - basic-statistics.qmd
      - categorical-displays.qmd
      - quantitative-displays.qmd
    - part: "Designing Studies"
      chapters:
      - sampling.qmd
      - experimental-design.qmd
    - part: "Probability"
      chapters:
    #   - probability.qmd
      - density-curves.qmd
    #   - random-variables.qmd
    #   - sampling-distributions.qmd
    # - part: "Inference"
    #   chapters:
    #   - confidence-intervals.qmd
    #   - hypothesis-testing.qmd
    #   - inference-for-proportions.qmd
    #   - inference-for-means.qmd
    #   - inference-for-categories.qmd
    # - linear-regression.qmd
    # - inference-for-slope.qmd
  appendices:
    - formula-sheet.qmd
    # - applets.qmd
    # - four-step-process.qmd
    # - z-critical-values.qmd
    # - t-critical-values.qmd
    # - statistic-to-pvalue.qmd
    # - calc-guide.qmd
    # - test-page.qmd
    # - linear-regression-project.qmd


format:
  html:
    number-depth: 3
    include-in-header:
      - header.html
    theme: cosmo
    df-print: paged
    css: ["style/console.css", "style/style.css"]
    page-layout: full

execute:
  echo: false
  warning: false
  freeze: true
