p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.highlight {
  padding: 1em 1em .5em 1em;
  margin: 1em;
  background: #f5f5f5 5px center/3em no-repeat;
}

footer {
  display: none;
}

.container-fluid {
  padding-bottom: 3rem !important;
}

svg text {
  font-size: 1.35em;
}